<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.maowtm.android.tagalarm">

    <permission android:name="org.maowtm.android.tagalarm.premission.READ" />
    <permission android:name="org.maowtm.android.tagalarm.premission.ALERT" />
    <permission android:name="org.maowtm.android.tagalarm.premission.WRITE" />

    <!-- Recalculate stuff on boot. -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:fullBackupContent="true"
        android:theme="@style/AppTheme">

        <activity android:name=".AlarmActivity" android:label="@string/app_name" android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AlertActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance" />

        <receiver android:name=".AlertReceiver"
            android:permission="org.maowtm.android.tagalarm.premission.ALERT">
            <intent-filter>
                <action android:name="org.maowtm.android.tagalarm.actions.ALARM_ALERT" />
            </intent-filter>
        </receiver>
        <receiver android:name=".BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <service android:name=".AlertService" android:exported="false"/>
        <provider
            android:authorities="org.maowtm.android.tagalarm.auth"
            android:name=".AlarmProvider"
            android:readPermission="org.maowtm.android.tagalarm.premission.READ"
            android:writePermission="org.maowtm.android.tagalarm.premission.WRITE" />
    </application>

</manifest>
